[run]
source = "invoice", "invoice.database"
omit =
    "*/easter_eggs/*"


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    "*/easter_eggs/*"
