[run]
source = "invoice", "invoice.database"

#omit = "invoice/ee/*.py", "invoicer/spy/*.py", "invoice/daemon.py", "invoice/lock_file.py"


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

#omit = "invoice/ee/*.py", "invoicer/spy/*.py", "invoice/daemon.py", "invoice/lock_file.py"

[html]
directory = htmlcov

